
.App-header {
    background-color: #282c34;
    color: white;
}

.profileBtn:hover ~ .dropdownContent {
    display: block;
}

.dropdownContent:hover {
    display: block;
}

.dropdownContent {
    display: none;
    position: absolute;
    background-color:black;
    min-width: 150px;
    right: 0;
    top: 50px;
    padding: 10px 
}

.navigation a:link,
.navigation a:visited {
    color: white;
    text-decoration: none;
}
.navlink {
    padding: 0.4rem 0.8rem;
    background-color: #535c6e;
    border-radius: 3px;
    color: #535c6e;
    text-decoration: none !important;
    margin: 5px;
}

.navlink:hover {
    background-color: transparent;
    color: #535c6e;
    border: 2px solid #535c6e;
}

.noScrollbar::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .popularGamesScroll {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }